/* My Styles */

section.comments {
	width: 50%;

	.add-comment {
		display: none;
		margin-top: 10px;
	}

	.comment {
		margin-top: 10px;

		.reply {
			display: none;
			margin-top: 10px;
		}
	}

	.comment {
		padding: 2%;
	}

	.comment.lv1 {
		
	}

	.comment.lv2 {
		margin-left: 10%;
		border-left: solid 2px $grey;
	}

	.comment.lv3 {
		margin-left: 20%;
		border-left: solid 2px $grey;
	}
}